.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dirty-cup,
.clean-cup {
  width: 6.25rem;
  height: 6.25rem;
  margin: 0.625rem;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

.dirty-cup {
  background-image: url("../svg/cup-dirty.svg");
}

.clean-cup {
  background-image: url("../svg/cup-clean.svg");
}
